In [39]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords

In [29]:
dataset = pd.read_csv('dataset/noncompliant_customer_review_dataset.tsv', error_bad_lines=False,delimiter="\t",index_col=False)

b'Skipping line 4793: expected 10 fields, saw 11\nSkipping line 5508: expected 10 fields, saw 11\nSkipping line 6086: expected 10 fields, saw 11\nSkipping line 7489: expected 10 fields, saw 11\nSkipping line 8084: expected 10 fields, saw 11\nSkipping line 9580: expected 10 fields, saw 11\n'

In [30]:
dataset.head()

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
0,1,__label1__,4,N,PC,B00008NG7N,"Targus PAUK10U Ultra Mini USB Keypad, Black",useful,"When least you think so, this product will sav..."
1,2,__label1__,4,Y,Wireless,B00LH0Y3NM,Note 3 Battery : Stalion Strength Replacement ...,New era for batteries,Lithium batteries are something new introduced...
2,3,__label1__,3,N,Baby,B000I5UZ1Q,"Fisher-Price Papasan Cradle Swing, Starlight",doesn't swing very well.,I purchased this swing for my baby. She is 6 m...
3,4,__label1__,4,N,Office Products,B003822IRA,Casio MS-80B Standard Function Desktop Calculator,Great computing!,I was looking for an inexpensive desk calcolat...
4,5,__label1__,4,N,Beauty,B00PWSAXAM,Shine Whitening - Zero Peroxide Teeth Whitenin...,Only use twice a week,I only use it twice a week and the results are...

In [31]:
dataset.tail()

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
20901,20996,__label2__,4,Y,Shoes,B00BXYM8T8,"Madden Girl Women's Gettaw Pump,Red Patent,7.5...",wide width is great!,"I bought these for work. I have high arches, ..."
20902,20997,__label2__,4,Y,Shoes,B0014C2ORK,"crocs Unisex Classic Clog,Khaki,6 US Men's / 8...",Love crocs!,Crocs are one of only two brands of shoes that...
20903,20998,__label2__,5,Y,Shoes,B000EX8CCQ,Minnetonka Men's 703 Leather Laced Softsole Mo...,I love moccasins This fit like it was custom m...,I love moccasins This fit like it was custom ...
20904,20999,__label2__,5,Y,Shoes,B00748YHVE,Ariat Womens Unbridled Fatbaby 9 B Powder Brown,"This fit well, comfortable, best investment",I wish these were a little more durable. I got...
20905,21000,__label2__,4,Y,Shoes,B00A46KTLU,"VIBRAM FIVEFINGERS SPEED XC MENS HIKING SHOES,...","Love these shoes, except for the laces",I've been looking for a replacement for my bel...

In [32]:
dataset.sample(5)

,DOC_ID,LABEL,RATING,VERIFIED_PURCHASE,PRODUCT_CATEGORY,PRODUCT_ID,PRODUCT_TITLE,REVIEW_TITLE,REVIEW_TEXT
9844,9939,__label1__,5,N,Video Games,B002I0K6Q8,Street Fighter X Tekken - Playstation 3,We both enjoy it,I'm a big fan of both Street Fighter and Tekke...
20851,20946,__label2__,5,Y,Shoes,B009610NT2,UGG Australia Women's Bailey Bow Sheepskin Fas...,heaven for my aching feet,Super soft and fits like a dream. My post pre...
10538,10633,__label2__,5,N,Beauty,B00J2APD0G,Gillette Fusion Proglide Silvertouch Manual Me...,Good no nonsense razor,Not sure if Gillette is going away from its ba...
10690,10785,__label2__,5,Y,Grocery,B005LXGBUE,Bakto Flavors Natural Lavender Flavor-4 OZ,what I was looking for,The lavender flavor is very strong- a little g...
10802,10897,__label2__,5,Y,Home,B004KI0ZEO,Simplicity Karen Z Pattern 2917 Women's Dress ...,ALINE dress pattern good for all figures.,A line dress pattern is flattering to most fig...

In [36]:
dataset['WORD_COUNT'] = dataset['REVIEW_TEXT'].apply(lambda x: len(str(x).split(" ")))
dataset[['REVIEW_TEXT','WORD_COUNT']].head()

                                         REVIEW_TEXT  WORD_COUNT
0  When least you think so, this product will sav...          23
1  Lithium batteries are something new introduced...          69
2  I purchased this swing for my baby. She is 6 m...          52
3  I was looking for an inexpensive desk calcolat...          44
4  I only use it twice a week and the results are...          66

In [37]:
dataset['CHAR_COUNT'] = dataset['REVIEW_TEXT'].str.len() ## this also includes spaces
dataset[['REVIEW_TEXT','CHAR_COUNT']].head()

                                         REVIEW_TEXT  CHAR_COUNT
0  When least you think so, this product will sav...         116
1  Lithium batteries are something new introduced...         404
2  I purchased this swing for my baby. She is 6 m...         248
3  I was looking for an inexpensive desk calcolat...         212
4  I only use it twice a week and the results are...         331

In [38]:
def avg_word(sentence):
    words = sentence.split()
    return (sum(len(word) for word in words)/len(words))

dataset['AVG_WORD'] = dataset['REVIEW_TEXT'].apply(lambda x: avg_word(x))
dataset[['REVIEW_TEXT','AVG_WORD']].head()

                                         REVIEW_TEXT  AVG_WORD
0  When least you think so, this product will sav...  4.086957
1  Lithium batteries are something new introduced...  4.869565
2  I purchased this swing for my baby. She is 6 m...  3.788462
3  I was looking for an inexpensive desk calcolat...  3.840909
4  I only use it twice a week and the results are...  4.030303

In [40]:
stop = stopwords.words('english')

dataset['stopwords'] = dataset['REVIEW_TEXT'].apply(lambda x: len([x for x in x.split() if x in stop]))
dataset[['REVIEW_TEXT','stopwords']].head()

                                         REVIEW_TEXT  stopwords
0  When least you think so, this product will sav...         10
1  Lithium batteries are something new introduced...         28
2  I purchased this swing for my baby. She is 6 m...         25
3  I was looking for an inexpensive desk calcolat...         18
4  I only use it twice a week and the results are...         34

In [41]:
stop

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [49]:
dataset['numerics'] = dataset['REVIEW_TEXT'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
dataset[['REVIEW_TEXT','numerics']].max()

REVIEW_TEXT    这双鞋尺码非常合适，款式好看。they are very good looking shoe...
numerics                                                      41
dtype: object

In [55]:
grouped=dataset.groupby('LABEL')

In [56]:
grouped.describe()

           AVG_WORD                                                    \
              count      mean       std       min       25%       50%
LABEL
__label1__  10406.0  4.346495  0.477093  3.111111  4.051282  4.290021
__label2__  10500.0  4.367043  0.435989  3.088235  4.080000  4.333333

                                CHAR_COUNT               ...   stopwords  \
                 75%        max      count        mean   ...         75%
LABEL                                                    ...
__label1__  4.569391  13.136364    10406.0  316.520853   ...        28.0
__label2__  4.606061   9.916667    10500.0  428.102857   ...        37.0

                   word_count                                                 \
               max      count       mean         std   min   25%   50%   75%
LABEL
__label1__   467.0    10406.0  59.616760   58.991922   1.0  32.0  44.0  65.0
__label2__  1272.0    10500.0  80.644762  107.562817  14.0  28.0  46.0  88.0


               max
LABEL
__label1__  1186.0
__label2__  2847.0

[2 rows x 72 columns]